@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Shadows+Into+Light&display=swap');

body {
  font-family: 'Shadows Into Light', cursive;
  background-color: gainsboro;
  color: rgb(19, 38, 146);
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
};
